
.navbar {
    background-color: #FFEB5B; /* define a cor da barra da logo */
}

.quem-somos {
    background-color: gray; /*define o texto abaixo da logo */
    color: white;
}

.margin { /* classe criada para impor parametros de espaço */ 
    /*margin-top: 30px; cria um espaço entre componentes*/ 
    padding-top: 10px; /* cria um espaço interno no componente */
    padding-bottom: 50px;
}

.parceiros {
    background-color: yellowgreen;
    color: white;
}

.Jogos {
    background-color: black;
    color: white;
}

.espaço {
    padding-bottom: 40px;
}

.bg-footer {
    background-color: black;
    color: red;
}